body {
    background-color: #E6F2FF;
  }
  
  h2 {
    animation: slideInDown 1s ease;
  }
  
  .head {
    animation: fadeIn 2s ease;
  }
  
  @keyframes slideInDown {
    from {
      transform: translateY(-100%);
    }
  
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  
  @media (max-width: 768px) {
    img {
      width: 50px;
      height: 50px;
      margin: 10px;
    }
  }
  