/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight {
    background-color: #f1f1f1;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 4px;
}

/* HEADER */
header {
    background-color: #333;
    color: #fff;
    padding: 0.5em 0;
}

.profile img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 1em;
    border: 3px solid #fff;
}

.title h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.title h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.contact ul li {
    display: inline-block;
    margin-right: 0.5em;
}

.contact ul li:last-child {
    margin-right: 0;
}

.contact a i {
    font-size: 1.5em;
    padding: 0.2em;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.contact a i:hover {
    transform: scale(1.1);
    color: #f1c40f;
}


/* SECTIONS */
.summary h3,
.education h3,
.experience h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.item h4 {
    margin-bottom: 0.2em;
}

.item p {
    margin-bottom: 0.5em;
}

.item ul li {
    margin-bottom: 0.2em;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    min-height: 60px;
    }
    
    .footer-container {
    width: 100%;
    text-align: center;
    padding: 20px;
    }
    
    .footer-container p {
    font-size: 16px;
    }
    
    @media (max-width: 768px) {
    .footer-container {
    padding: 10px;
    }
    
    .footer-container p {
    font-size: 14px;
    }
    }
   
a {
    color: #1a5276;
}
.skills {
    padding: 50px 0;
}
.btn-language {
    background-color: white;
    color: black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-language:hover {
    background-color: black;
    color: white;
  }
